/* =========================
   FONTES E GERAIS
========================= */

/* @font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
} */


body {
  margin: 0;
  border: 0;
  background-color: #111111;
  font-family: "Poppins";
}

/* =========================
   HEADER
========================= */

header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  background-color: #000000;
}

.divHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  width: auto;
  height: 50px;
  margin-top: 5px;
}

/* MENU DESKTOP */
nav.menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

nav.menu li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* BOTÃO HAMBÚRGUER */
.menu-toggle {
  display: none;
  font-size: 40px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* =========================
   RESPONSIVO
========================= */
@media (max-width: 768px) {
  header {
    height: auto;
    padding: 20px;
  }

  .logo {
    height: 40px;
  }

  .menu-toggle {
    display: block;
  }

  nav.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

  nav.menu.ativo {
    display: block;
  }

  nav.menu ul {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  nav.menu li {
    font-size: 22px;
  }
}

/* =========================
   BANNER
========================= */

.divBanner {
  width: 100%;
}

.banner {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center 50%;
}

/* =========================
   BIOGRAFIA
========================= */

.bio {
  margin: 0;
  text-align: justify;
  width: 60%;
  margin-left: 20%;
}

.titulo_bio {
  padding-top: 100px;
  text-align: center;
  color: white;
}

.img_bio {
  width: 10%;
  float: left;
  margin-right: 20px;
}

p {
  color: white;
}

/* =========================
   NOSSO ESTABELECIMENTO
========================= */

.mapaGeral {
  background: linear-gradient(#111111, #6d24ca);
}

.mapaGeral p {
  text-align: center;
}

.mapa {
  text-align: center;
}

/* =========================
   SERVIÇOS
========================= */

.titulo_servicos {
  padding-top: 100px;
  text-align: center;
  color: white;
}

.servicosGeral {
  padding-top: 1px;
  background: linear-gradient(#6d24ca, #111111);
}

.div_servicos {
  width: 60%;
  margin-left: 35%;
}

.servicos {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 50px;
  color: white;
}

.servicos li {
  line-height: 2;
}

.img_servicos {
  width: 10%;
  border-radius: 3px;
  transition: transform 0.3s;
}

.img_servicos:hover {
  transform: scale(1.1);
}

/* =========================
   VÍDEO
========================= */

.video {
  padding: 5% 0 5% 28%;
}

/* =========================
   FOOTER
========================= */

footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  background-color: black;
  padding: 30px;
  background-size: cover;
  background-position: center;
}

.logo_footer {
  width: 5%;
  display: flex;
}

footer p {
  text-align: right;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.escrita_footer {
  color: white;
}
